{% extends 'base.html' %}
{% load static %}


{% block content %}
<header>
    <h1>{{ title }}</h1>
    <div class="subtitle text-muted">{{ subtitle }}</div>
</header>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <p>
                    Мы  действительно серьезно относимся к безопасности персональных данных наших клиентов,
                    потенциальных клиентов и других лиц, обратившихся к нам, поэтому стремимся защищать
                    конфиденциальность Ваших персональных данных. Администрация обязуется принять все
                    необходимые меры для предотвращения злоупотребления Вашими персональными данными,
                    которые становятся нам известны. Мы будем обрабатывать Ваши персональные данные в
                    строгом соответствии с требованиями применимого Законодательства и исключительно при
                    наличии законных оснований на такую обработку.
                </p>
                <p>
                    Мы  действительно серьезно относимся к безопасности персональных данных наших клиентов,
                    потенциальных клиентов и других лиц, обратившихся к нам, поэтому стремимся защищать
                    конфиденциальность Ваших персональных данных. Администрация обязуется принять все
                    необходимые меры для предотвращения злоупотребления Вашими персональными данными,
                    которые становятся нам известны. Мы будем обрабатывать Ваши персональные данные в
                    строгом соответствии с требованиями применимого Законодательства и исключительно при
                    наличии законных оснований на такую обработку.
                </p>
                <p>
                    Мы  действительно серьезно относимся к безопасности персональных данных наших клиентов,
                    потенциальных клиентов и других лиц, обратившихся к нам, поэтому стремимся защищать
                    конфиденциальность Ваших персональных данных. Администрация обязуется принять все
                    необходимые меры для предотвращения злоупотребления Вашими персональными данными,
                    которые становятся нам известны. Мы будем обрабатывать Ваши персональные данные в
                    строгом соответствии с требованиями применимого Законодательства и исключительно при
                    наличии законных оснований на такую обработку.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
