{% extends 'base.html' %}
{% load static %}


{% block content %}
<header>
    <h1>{{ title }}</h1>
    <div class="subtitle text-muted">{{ subtitle }}</div>
</header>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card mb-3">
                <div class="card-heading">
                    <h2>{{ marker.title }}</h2>
                    <div class="subtitle text-muted">Основная информация</div>
                </div>
                <div class="mb-3">{{ marker.description }}</div>
                <div class="text-muted">{{ marker.date_publish }}</div>
                <div class="location-widgets">
                    <div class="row">
                        <div class="col-4">
                            <div class="widget">
                                <i class="fi fi-rr-photo-video"></i>
                                <div class="text-muted">Всего медия:</div>
                                <div class="count">{{ marker.media_set.count }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-heading mb-3">
                    <h2>Управление маркером</h2>
                    <div class="subtitle text-muted">Информация об управлении</div>
                </div>
                <div class="mb-3">
                    Для того, чтобы удалить или отредактировать маркер воспользуйтесь соответствующими кнопками.
                </div>
                <div class="d-flex">
                    <a class="btn btn-with-icon" href="{% url 'marker_edit' pk=marker.id id_location=marker.location.id %}"><i class="fi fi-rr-edit"></i>Редактировать</a>
                    <button type="button" class="btn btn-with-icon btn-delete-modal ms-2" data-bs-toggle="modal" data-bs-target="#delete-modal" data-url="{% url 'marker_delete' pk=marker.id %}" data-title="{{ marker.title }}"><i class="fi fi-rr-trash"></i>Удалить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-heading card-heading-with-button mb-3">
            <h2>Просмотр медия</h2>
            <div class="subtitle text-muted">Ниже приведена информация касательно медия</div>
        </div>
       <table id="table-medias" class="display">
            <thead>
                <tr>
                    <th>Дата публикации</th>
                    <th>ID</th>
                    <th>Описание</th>
                    <th>Код записи</th>
                    <th>Автор</th>
                    <th>Дата сканирования</th>
                </tr>
            </thead>
            <tbody>
            {% for media in medias %}
                <tr>
                    <td data-sort="{{ media.date_publish|date:'dmYHi' }}">{{ media.date_publish }}</td>
                    <td>{{ media.media_pk }}</td>
                    <td>{{ media.description|truncatechars:"20" }}</td>
                    <td>{{ media.code }}</td>
                    <td><a href="https://instagram.com/celestialmajique" target="_blank"></a>{{ media.username }}</td>
                    <td>{{ media.date_parse }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'include/modal.html' %}
{% endblock content %}
{% block scripts %}
<script>
$(".btn-delete-modal").click(function () {
    var url = $(this).attr('data-url');
    var title = $(this).attr('data-title');

    $('#delete-label').text(title);
    $('#delete-modal form').attr('action', url);
});

$('#table-medias').DataTable({
    order: [],
    pageLength: 15,
    bLengthChange: false,
    searching: false,
    language: {
        "url": "/static/js/datatables_lang.json"
    }
});
</script>
{% endblock %}

